.textToImgrMargin{
   padding-top: 50px;
   padding-bottom: 50px;
   text-align:center;   
}

.carousel {
    width: 40rem;
    padding-bottom: 100px;
    margin: 0 auto;
}

.carousel-control-next {
    padding-bottom: 100px;
}

.carousel-control-prev {
    padding-bottom: 100px;
}

.carousel-caption {
    color: #000000;
}

.textVolvo {
    margin-left: 25rem;
    margin-bottom: 13rem; 
}

.textDelorean {
    margin-right: 25rem;
}

.textSaab {
    margin-left: 25rem;
    margin-bottom: 15rem;
}

